.comment {
    margin-bottom: 16px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-bottom: 0.75px solid var(--md-sys-color-outline-variant);
}

.load-replies-btn:hover {
    cursor: pointer;
}
